<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />
    <title>Shopping List App</title>
    <link href="https://fonts.googleapis.com/css2?family=Amaranth:wght@700&family=Titillium+Web&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <!-- HTML -->
    <div id="shopping-list">
        <header class="header">
            <h1>{{ header.toLocaleUpperCase() }}</h1>
        </header>

        <main>
            <div class="flex flex-column">
                <button class="accept" v-if="state === 'default'" @click="changeState('edit')">Add Item</button>
                <button class="cancel" v-else @click="changeState('default')">Cancel Adding Item</button>

                <div class="flex"></div>
                <form @submit.prevent v-if="state === 'edit'" class="add-item-form">
                    <div class="flex-space">
                        <input id="add-item" v-model="newItem" @keyup.enter="saveItem" type="text" placeholder="Add an item">
                        <label for="priority-check">High Priority:</label>
                        <input id="priority-check" type="checkbox">
                        <button class="accept" @click="saveItem" :disabled="newItem.length === 0">Save Item</button>
                    </div>
                </form>
                <ul class="flex flex-column">
                    <li v-for="item in reversedItems" :class="{strikeout: item.purchased, highlight:item.highPriority}" @click="togglePurchased(item)">{{ item.label }}</li>
                </ul>
                <div class="flex flex-column">
                    <button class="cancel" v-for="item in reversedItems" @click="removeItem(item)">Remove Item</button>
                </div>
                <p v-if="reversedItems.length === 0">Nice job! You've bought all your items.</p>
            </div>
        </main>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="script.js"></script>
</body></html>
